html {
    font-size: 14px;
}

body {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background: var(--surface-ground);
    padding: 0;
    margin: 0;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

img {
    max-width: none !important;
}
